.navtt{
    background-color: rgb(225, 225, 225);
}
.navt{
    background-color: rgb(99, 99, 99);
    .theme{
        border: 1px solid black;
        .thm{
            color: blac;
        }
    }

}

.edit{
    box-shadow: 2px 5px rgb(43, 40, 40);
}
